body {
  background: whitesmoke;
}

.header {
  font-size: 100px;
  text-align: center;
  color: darkslategrey;
  height: 15vh;
  line-height: 15vh;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.section {
  border: 1px solid black;
  height: 80vh;
  width: 32%;
}

.footer-shit {
  height: 5vh;
  text-align: center;
  line-height: 5vh;
}

.text-area {

}

.cookie {
  position: relative;
  margin: 0 auto;
  top: 25%;
  height: 350px;
  width: 350px;
  background: saddlebrown;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.upgrade-area {
  position: relative;
  overflow: auto;
  background-color: lightslategray;
}

.upgrade-header {
  text-align: center;
  font-size: 40px;
  background-color: gainsboro;
  border-bottom: 1px solid darkslategrey;
}

.upgrade-mouse-click-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.upgrade-click {
  cursor: pointer;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  background-color: white;
  margin-top: 10px;
}

.upgrades {
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 97%;
  height: 70px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  padding-top: 30px;
}
